.container {
    display: flex;
    column-gap: 6px;
    flex-wrap: wrap;
    border: var(--box-border);
    box-shadow: var(--box-shadow);
    padding: var(--padding-container);
    border-radius: var(--box-border-radius);
}
.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
}
.preloader__content {
    position: relative;
    margin: auto;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 50%;
}
.preloader__content span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid transparent;
    border-left-color: #f25f65;
    /* border-top-color: #f25f65; */
    border-radius: 50%;
    box-sizing: content-box;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}