.container {
    display: flex;
    column-gap: 6px;
    flex-wrap: wrap;
    border: var(--box-border);
    box-shadow: var(--box-shadow);
    padding: var(--padding-container);
    border-radius: var(--box-border-radius);
}
.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
}
.preloader__content {
    margin: auto;
    width: 55px;
    height: 55px;
    border: 1px solid #f25f65;
    border-radius: 50%;
    border-left-color: transparent;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}