.bar {
    display: flex;
    align-items: center;
    position: relative;
}
.bar__text {
    border: 1px solid rgba(0,0,0,.075);
    outline: none;
    width: 100%;
    height: var(--bar-height);
    padding-left: 22px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0 0 35px 10px rgba(0,0,0,.06);
}
.bar__button {
    position: absolute;
    right: 0;
    border: none;
    cursor: pointer;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #f25f65;
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 15%);
}