.modal {
    padding: var(--padding-container);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    animation: active .15s linear;
    display: flex;
}
.modal__container {
    overflow-y: auto;
    margin: auto;
    display: flex;
    height: 100%;
}
.modal__content {
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #fff;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
}

@keyframes active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}