:root {
    --bar-height: 50px;
    --max-width: 740px;
    --min-width: 350px;
    --padding-container: 20px;
    --box-border: 1px solid rgba(0,0,0,.075);
    --box-shadow: 0 0 35px 10px rgba(0,0,0,.06);
    --box-border-radius: 12px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root {
    height: 100%;
    width: 100%;
}
h1, h2, h3 {
    font-family: Helvetica, sans-serif;
    margin: 0;
}
h1 {
    font-size: 16px;
    font-weight: 600;
}
h2 {
    font-size: 13px;
    font-weight: 300;
}
h3 {
    max-height: 70px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
}
h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 600;
}

#root {
    display: flex;
}
main {
    margin: auto;
    margin-top: calc(50vh - var(--bar-height));
    padding: var(--padding-container);
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    position: relative;
    transition: margin .5s ease;
}
.content {
    position: absolute;
    left: 0;
    padding: var(--padding-container);
    width: 100%;
}