:root {
    --bar-height: 50px;
    --bar-max-width: 740px;
    --bar-min-width: 350px;
    --padding-container: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root {
    height: 100%;
    width: 100%;
}
#root {
    display: flex;
}
main {
    margin: auto;
    margin-top: calc(50vh - var(--bar-height));
    padding: var(--padding-container);
    max-width: var(--bar-max-width);
    min-width: var(--bar-min-width);
    width: 100%;
    position: relative;
    transition: margin .5s ease;
}
.content {
    position: absolute;
    left: 0;
    padding: var(--padding-container);
}